.import {
    background: #f2f2f2;
    height: 100vh;
    margin-top: 2rem;
    padding: 3rem 2rem;
    .b-form-file{
        cursor: pointer;
        .custom-file-label{
            cursor: pointer;
            background-color: #deefef;
            color: #368683;
            border-color: #368683;;
            &::after {
                background-color: $primary;
                color: #fff;
            }
        }
    }    
}