.list-page{
    //margin-top: 2rem;
    margin-bottom: 5px;
    padding: 10px 20px 10px;
    table {
        thead {
            tr {
                th {
                    div {
                        font-size: 14px;
                        color: $primary;
                    }
                }
            }
        }
    }
}
