.side-menu{
    margin: 0;
    height: 100%;
    max-width: 300px;
    min-width: 300px;
    padding: 0 !important;
    float: left;
    background: #deefef;
    color: #4c7497;
    position: fixed;
    z-index: 9;
    font-family: "Montserrat", sans-serif;
    border-radius: unset;
    transition: 0.2s;
    &.collapsemenu {
        min-width: 80px;
        max-width: 80px;
        transition: 0.2s;
    }
    .container-fluid{
        position: relative;
        top: 0;
        .navbar-header{        
            .navbar-brand{
                margin-right: 0 !important;
                transition: 0.05s;        
            }
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                text-align: left;
                border-left: 4px solid transparent;
                padding: 5px 0 5px 9px;
                a {
                    padding: 10px 15px;
                    line-height: 20px;
                    width: 100%;
                }
            }
        }
    }    
    .collapse-expend2{
        display: flex;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 277px;
        width: 30px;   
        transition: 0.2s;
        &.collapsemenu {
            left: 56px;
            transition: 0.2s;
        }
        span{
            font-size: 38px;
        }
    }
}
